* {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.w {
    width: 1200px;
    margin:0 auto;
}
.top {
    position: relative;
    width:100%;
    height: 100px;
    background-color: #fd4f37;
}
/* 顶部模块中的logo模块 */
.top .top-left-logo {
    position: absolute;
    left:300px;
    top:0;
    width: 600px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;

}
.top .top-left-logo h1 a {
    float: left;
    display:block;
    width: 133px;
    height: 100px;
    background: url(../images/logo1.png) no-repeat;     
    background-size: 133px 107px;
    font-size: 0;
    transition: all 1.5s;
    border-radius: 20px ; 
}
.top .top-left-logo h1 a:hover
{
    transform: rotateY(360deg); 
}
.top .top-left-logo span {
    float: left;
    height: 100px;
    line-height: 100px;
    margin-left:60px;
    color:#f8eeef;
    font-size: 25px;
    
}
.top .top-right {
    padding-right: 100px;
    float: right;
    width: 500px;
    height: 42px;
    margin-top: 30px;
}
.top .top-right .name{
    float:left;
    outline: none;
    padding-left:17px;
    width: 330px;
    height: 40px;
    border:1px solid #00a4ff;
    border-right:0;
}
.top .top-right .search {
    float: left;
    width: 50px;
    height: 40px;
    outline: none;
    border:0;
    background-image: url(../images/search.png);
    background-color: white;

}
/* 头部模块css */
.header {
    position: sticky;
    height: 41px;
    background-color: #333333;
    line-height: 41px;
    top:0px;
    z-index: 3;

}
.header .shortcut
{
    width: 1300px;
    margin:0 auto;
}
.header .header-left a {
    display: inline-block;
    height: 41px;
    text-decoration: none;
    color: #b0b0b0;
    font-size: 15px;
    padding: 0px 20px;
    float: left;
}
.header .header-left a:hover {
    background-color: #fff;
    color: darkorange;
}
.header .header-right a:hover {
    background-color: #fff;
    color: darkorange;
}
.header .header-right a { 
    float: right;
    display: inline-block;
    height: 41px;
    margin:0 20px;
    text-decoration: none;
    font-size: 15px;
    color: #b0b0b0;
}
/* 头部模块css结束 */
/* 导航栏模块开始 */
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .drop {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}
.nav .drop .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
/* 此时先将菜单的下划线隐藏 */
.nav .drop .dd {
    /* display: none;  */
    width: 210px;
    height: 480px;
    background-color: #c81623;
    margin-top: 2px;
}
.nav .drop .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}
.nav .drop .dd ul li
{
    margin-top:8px;
}
.nav .drop .dd ul li:first-child
{
    margin-top:0px;
}
.nav .drop .dd ul li:hover {
   background-color: #fff;
}
.nav .drop .dd ul li::before {
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    font-family: 'icomoon';
    content: '\e920';
    font-size: 14px;
}
.drop .dd ul li a {
    font-size: 14px;
    color: #fff;
}
.drop .dd ul li:hover a {
    color: #c81623;
}
/* 导航栏模块结束 */
/* 轮播图模块开始 */
.main {
    width: 980px;
    height: 470px;
    margin-left: 220px;
    margin-top: 10px;
}
/* 轮播图模块开始 */
.focus {
    float: left;
    position: relative;
    width: 781px;
    height: 470px; 
   
}
.focus .focus-left
{
    position: relative;
    width: 590px;
    height: 470px;
    overflow: hidden;
  
}
.main .focus ul li img{
    width: 590px;
    height: 470px;
}
.main .focus ul{
    width: 500%;
    position: absolute; 
    top:0px;
    left:0px;
}
.main .focus ul li
{
    float: left;
    position: relative;
    height: 455px;
    width: 590px;
    z-index: 1;
}
.main .focus .arrow-l,.arrow-r
{  
    display:none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}
.arrow-r
{   
    right:0px;
}
.circle {
    position: absolute;
    bottom: 20px;
    left: 230px; 
    z-index: 3;
}
.focus .circle li {
    float: left;
    width: 10px;
    height: 10px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
   
}
.current {
    background-color: #fff;
}
/* 轮播图模块结束 */
.main .focus .focus-right
{    
    position: absolute;
    left:592px;
    top:0px;
    width: 207px;
    height: 455px;
}
.main .focus .focus-right img 
{    
    width: 195px;
    height: 150px;
    margin-bottom: 10px;
}
.newsflash {
    float: right;
    width: 190px;
    height: 470px;
}
.news {
    height: 165px;
   border: 1px solid #e4e4e4;
}
.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    float: right;
}
.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}
.news-bd {
    padding: 5px 15px 0;
}
.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    overflow: hidden;
    height: 209px;
    /* background-color: purple; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.lifeservice ul li:nth-of-type(2) i
{
    background: url(../images/icons.png) no-repeat -80px -15px;
}
.lifeservice ul li:nth-of-type(3) i
{
    background: url(../images/icons.png) no-repeat -18px -85px;
}
.lifeservice ul li:nth-of-type(5) i
{
    background: url(../images/icons.png) no-repeat -20px -157px;
}
.lifeservice ul li:nth-of-type(6) i
{
    background: url(../images/icons.png) no-repeat -17px -157px;
}
.lifeservice ul li:nth-of-type(7) i
{
    background: url(../images/icons.png) no-repeat -142px -86px;
}

.lifeservice ul li:nth-of-type(9) i
{
    background: url(../images/icons.png) no-repeat -206px -15px;
}
.lifeservice ul li:nth-of-type(10) i
{
    background: url(../images/icons.png) no-repeat -141px -154px;
}
.lifeservice ul li:nth-of-type(11) i
{
    background: url(../images/icons.png) no-repeat -142px -16px;
}

.bargain {

    margin-top: 20px;
}
.bargain img 
{
    width: 192px;
    height: 75px;
}
/* 轮播图模块结束 */
/* 限时特惠模块开始 */
.seckill
{   
    width: 1200px;
    height: 260px;
    margin:40px auto;
}
.seckill .seckill-countdown
{
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
    color: #fff;
    background-color: #e83632;
    background-image: url(../images/seckill.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.seckill .seckill-countdown .countdown-title
{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
}
.seckill .seckill-countdown .timmer
{
    display: block;
    height: 40px;
    margin-top:110px;
}
.seckill .seckill-countdown .timmer span{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #333;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
}
.seckill .seckill-countdown .timmer .hour
{
    margin-left:25px;
}
.seckill .seckill-countdown .timmer .hour::after,.seckill .seckill-countdown .timmer .minute::after
{
    content: ":";
    display: block;
    position: absolute;
    right: -20px;
    font-weight: bolder;
    font-size: 18px;
    line-height: 30px;
    width: 20px;
    height: 100%;
    top: 0;
}

/* .seckill .seckill-countdown .timmer label
{
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
} */


.seckill div .content
{
    width: 1000px;
    height: 260px;
    float: right;
    background-color:#f5f5f5;
}
.seckill div .content li{
    width: 232px;
    height: 260px;
    background-color:white;
    float: left;
    margin-right: 20px;
}
.seckill div .content li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.seckill div .content li:nth-child(1)
{
    margin-left: 12px;
}
.seckill div .content li:nth-child(4)
{
    margin-right: 0px;
}
.seckill div .content li a 
{
    width: 232px;
    height: 260px;
}
.seckill div .content li a div
{
    margin-top:15px;
}
.seckill div .content li a div img{
    display: block;
    width: 150px;
    height: 150px;
    margin:auto;
}
.seckill div .content li a p 
{
    margin-top:20px;
    text-align: center;
    font-size: 15px;
}
.seckill div .content li a .seckill-item__price
{
    border: 1px solid #e1251b;
    width: 160px;
    height: 24px;
    margin:0 auto;
    background-color: #e1251b;
    line-height: 22px;
}
.seckill div .content li a .seckill-item__price .price-miaosha
{
    position: relative;
    width: 92px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    float: left;

}
.seckill div .content li a .seckill-item__price .price-miaosha::after
{
    content: " ";
    width: 0;
    height: 0;
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 22px 8px 0 0;
    position: absolute;
    top: 0;
    left: 84px;
}
.seckill div .content li a .seckill-item__price .price-origin
{
    height: 100%;
    width: 66px;
    float: right;
    background: #fff;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: line-through;
    vertical-align: top;
}

/* 限时特惠模块结束 */
.box {
    margin-top: 50px;
}

.box-hd {
    height: 45px;
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}
.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}
.box-bd ul {
    width: 1225px;
    overflow: hidden;
}
.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    border: 1px solid transparent;
    margin-right: 15px; 
    margin-bottom: 15px;
}
.box-bd ul li:hover
{
    border:1px solid orange;
}
.box-bd ul li img {
    width: 100%;
    height: 70%;
}
.box-bd ul li h4 {
    margin: 20px 20px 18px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}
.box-bd .info span {
    color: #ff7c2d;
}
.test
{   
    margin: 0 auto;
    width: 1225px;
    height: 1000px;
    background-color: pink;
}
/* 楼层区的css开始 */
/*floor 楼层区*/
.box-h {
    height: 30px;
    border-bottom: 2px solid #c81623;
    margin-top: 25px;
}

.box-h h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}

.tab-list {
    float: right;
    line-height: 30px;
}

.tab-list li {
    float: left;
}

.tab-list li a {
    margin: 0 15px;
}

.box-b {
    height: 360px;
}

.w209 {
    width: 209px;
    background-color: #f9f9f9;
}
.w209 img{
    width: 250px;
}
.w329 {
    width: 329px;
}
.w329  img{
    width: 329px;
    margin-top:20px;
}
.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}
.w219 img
{
    width: 219px;
    height: 189px;
}
.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}
.w220  a{
    width: 225px;
}
.w220  a img{
    width: 225px;
}
.w220  .sp img{
    width: 300px;
}
.tab-con li {
    float: left;
    height: 360px;
}

.tab-con-item {
    border-bottom: 1px solid #ccc;
}

.tab-con-list {
    overflow: hidden;
    margin-bottom: 15px;
}

.tab-con-list li {
    width: 86px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}

.box-b li {
    overflow: hidden;
}

.box-b img {
    /*过渡写到本身上， 谁做动画，给谁加*/
    transition: all .2s;
}
/*我们鼠标经过图片 往右走 8px*/
.box-b img:hover {
    margin-left: 8px;
}
/* 楼层区的css结束 */

/* 电梯导航 */
/*电梯导航*/
.fixedtool {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -670px;
    width: 66px;
    background-color: #fff;
     display: none; 
}

.fixedtool li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.fixedtool .current {
    background-color: #c81623;
    color: #fff;
}
/* 电梯导航结束 */
/* 波浪效果 */
.marquee-box {
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0
}
.marquee {
	width: 8000%;
	height: 60px
}
.wave-list-box {
	float: left
}
.wave-list-box ul {
	float: left;
	height: 60px;
	overflow: hidden;
	zoom: 1
}
.wave-list-box ul li {
	height: 60px;
	width: 100%;
	float: left;
	line-height: 30px;
	list-style: none
}
.wave-box {
	position: relative;
	height: 60px;
	background: #fff
}
/* 波浪效果 */
/* 底部模块制作 */
.footer {
    height: 200px;
    background-color: #f5f5f5;
    padding-top: 30px;
    background-color: #009fd9;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 35px;
}
.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -2px;
    margin-right: 8px;
  
}
.mod_service ul li:nth-of-type(2) h5
{
    background: url(../images/icons.png) no-repeat -255px -54px;
}
.mod_service ul li:nth-of-type(3) h5
{
    background: url(../images/icons.png) no-repeat -258px -107px;
}
.mod_service ul li:nth-of-type(4) h5
{
    background: url(../images/icons.png) no-repeat -256px -208px;
    
}
.service_txt h4 {
    font-size: 14px;
     color: #fff;
}
.service_txt  p {
    font-size: 12px;
    color: #fff;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px; 
    margin-bottom: 10px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
    color:white;
}
.copyright {
    line-height: 20px;
}
