.w {
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
header .logo
{
    padding-left: 250px;
}
header .logo a{
 
    display: inline-block;
    width: 100px;
    height: 82px; 
    transition: all 1.5s;
}
header .logo a img{
    width: 100px;
    height: 82px;
}
header .logo a:hover
{
    transform: rotateY(360deg); 
}
header .logo  span{
    display: inline-block;
    margin-left: 35 px;
    font-size: 20px;
    font-weight: 700;
}
.alert
{
    background-color: #fff8f0;
    height: 50px;
}
.alert p{
    text-align: center;
    line-height: 50px;
}
/* 登入模块的制作 */
.loginarea
{
    height: 550px;
    background-color: #e93854;
    overflow: hidden;
}
/* 这个是熊猫的css */
.panda {
    position: relative;
    width: 200px;
    margin: 50px auto;
}

.face {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 100%;
    margin: 50px auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    z-index: 50;
    position: relative;
}

.ear,
.ear:after {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #000;
    z-index: 5;
    border: 10px solid #fff;
    left: -15px;
    top: -15px;
    border-radius: 100%;
}

.ear:after {
    content: '';
    left: 125px;
}

.eye-shade {
    background: #000;
    width: 50px;
    height: 80px;
    margin: 10px;
    position: absolute;
    top: 35px;
    left: 25px;
    -webkit-transform: rotate(220deg);
    transform: rotate(220deg);
    border-radius: 25px/20px 30px 35px 40px;
}

.eye-shade.rgt {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    left: 105px;
}

.eye-white {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fff;
    z-index: 500;
    left: 40px;
    top: 80px;
    overflow: hidden;
}

.eye-white.rgt {
    right: 40px;
    left: auto;
}

.eye-ball {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 20px;
    top: 20px;
    max-width: 10px;
    max-height: 10px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.eye-ball:after {
    content: '';
    background: #000;
    position: absolute;
    border-radius: 100%;
    right: 0;
    bottom: 0px;
    width: 20px;
    height: 20px;
}
.nose {
    position: absolute;
    height: 20px;
    width: 35px;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px 20px/30px 15px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    background: #000;
}

.body {
    background: #fff;
    position: absolute;
    top: 200px;
    left: -20px;
    border-radius: 100px 100px 100px 100px/126px 126px 96px 96px;
    width: 250px;
    height: 282px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hand,
.hand:after,
.hand:before {
    width: 40px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    background: #000;
    margin: 5px;
    position: absolute;
    top: 70px;
    left: -25px;
}

.hand:after,
.hand:before {
    content: '';
    left: -5px;
    top: 11px;
}

.hand:before {
    top: 26px;
}

.hand.rgt,
.rgt.hand:after,
.rgt.hand:before {
    left: auto;
    right: -25px;
}

.hand.rgt:after,
.hand.rgt:before {
    left: auto;
    right: -5px;
}

.foot {
    top: 360px;
    left: -80px;
    position: absolute;
    background: #000;
    z-index: 1400;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 40px 40px 39px 40px/26px 26px 63px 63px;
    width: 82px;
    height: 120px;
}

.foot:after {
    content: '';
    width: 55px;
    height: 65px;
    background: #222;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.foot .finger,
.foot .finger:after,
.foot .finger:before {
    position: absolute;
    width: 25px;
    height: 35px;
    background: #222;
    border-radius: 100%;
    top: 10px;
    right: 5px;
}

.foot .finger:after,
.foot .finger:before {
    content: '';
    right: 30px;
    width: 20px;
    top: 0;
}

.foot .finger:before {
    right: 55px;
    top: 5px;
}

.foot.rgt {
    left: auto;
    right: -80px;
}

.foot.rgt .finger,
.foot.rgt .finger:after,
.foot.rgt .finger:before {
    left: 5px;
    right: auto;
}

.foot.rgt .finger:after {
    left: 30px;
    right: auto;
}

.foot.rgt .finger:before {
    left: 55px;
    right: auto;
}
/* 熊猫的css结束 */
form {
    display: none;
    max-width: 400px;
    padding: 20px 40px;
    background: #fff;
    height: 300px;
    margin: auto;
    display: block;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    z-index: 500;
    border: 1px solid #eee;
}

form.up {
    -webkit-transform: translateY(-180px);
    transform: translateY(-180px);
}

h1 {
    color: #FF4081;
    font-weight: normal;
    margin-left: 100px;

}

.btn {
    background: #fff;
    padding: 5px;
    width: 150px;
    height: 35px;
    border: 1px solid #FF4081;
    margin-top: 25px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 50px #FF4081 inset;
    color: #fff;
    margin-left: 74px;
}

.btn:hover {
    box-shadow: 0 0 #FF4081 inset;
    color: #FF4081;
}

.btn:focus {
    outline: none;
}

.form-group {
    position: relative;
    font-size: 15px;
    color: #666;
}

.form-group,.form-group {
    margin-top: 30px;
}

.form-group .form-label {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.form-group .form-control {
    width: 100%;
    position: relative;
    z-index: 3;
    height: 35px;
    background: none;
    border: none;
    padding: 5px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid #777;
    color: #555;
}

.form-group .form-control:invalid {
    outline: none;
}

.form-group .form-control:focus,
.form-group .form-control:valid {
    outline: none;
    box-shadow: 0 1px #FF4081;
    border-color: #FF4081;
}

.form-group .form-control:focus+.form-label,
.form-group .form-control:valid+.form-label {
    font-size: 14px;
    color: #FF4081;
    -webkit-transform: translateY(-15px);
    transform: translateY(-23px);
}
.loginarea .login label img{
    position: absolute;
    right: -27px;
    top:11px;
    width: 28px;
    height: 28px;

}
/* 登入模块制作完毕 */
/* 图形验证拼接模块 */
.checkcode
{
    width: 310px;
    height:200px;
    position: absolute;
    top:150px;
    left: 105px;
    display: none;
}
#msg
{
     
     position: absolute;
     font-size: 16px;
     color:white;
     top:129px;
     left: 100px;
      
}
/* 图形验证拼接模块结束 */

/* 底部模块的制作 */
.footer {
    height: 200px;
    background-color: #f5f5f5;
    padding-top: 30px;
    background-color: #000000;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul{
    width: 1200px;
    margin:0 auto;
}
.mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 25px;
}
.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -2px;
    margin-right: 8px;
}
.mod_service ul li:nth-of-type(2) h5
{
    background: url(../images/icons.png) no-repeat -255px -54px;
}
.mod_service ul li:nth-of-type(3) h5
{
    background: url(../images/icons.png) no-repeat -258px -107px;
}
.mod_service ul li:nth-of-type(4) h5
{
    background: url(../images/icons.png) no-repeat -256px -208px;
    
}
.service_txt h4 {
    font-size: 14px;
}
.service_txt  p {
    font-size: 12px;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px; 
    margin-bottom: 10px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.copyright {
    line-height: 20px;
}
