/* 头部模块css */
body{
    background-color: #f6f6f6;
}
.header {
    height: 41px;
    background-color: #333333;
    line-height: 41px;

}
.header .shortcut
{
    width: 1300px;
    margin:0 auto;
}
.header .header-left a {
    display: inline-block;
    height: 41px;
    text-decoration: none;
    color: #b0b0b0;
    font-size: 15px;
    padding: 0px 20px;
    float: left;
}
.header .header-left a:hover {
    background-color: #fff;
    color: darkorange;
}
.header .header-right a:hover {
    background-color: #fff;
    color: darkorange;
}
.header .header-right a { 
    float: right;
    display: inline-block;
    height: 41px;
    margin:0 20px;
    text-decoration: none;
    font-size: 15px;
    color: #b0b0b0;
}
/* 头部模块css结束 */
/* logo部分 */
 .logo
{
    height: 88px;
    border-bottom: 2px solid #c81523;
    padding-left: 250px;
}
.logo a
{
    display: inline-block;
    float: left;
    width: 110px;
    height: 85px;
    background-color: pink;
    border-radius: 20px;
    background-image: url(../images/logo1.png);
    background-size: 107px 85px;
    transition: all 1s;
}
.logo a:hover
{
    transform: rotate(360deg)
}
.logo span{ 
    display: inline-block;
    float: left;
    height: 85px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
    line-height: 85px;

}
/* logo部分结束 */
/* 内容模块 */
.mess
{
    position: relative;
    width: 1200px;
    margin:0 auto;
    height: 1600px;
    margin-top:20px;
}
/*  */
/* 内容模块左边 */
.mess-left
{
    
    width: 790px;
    height: 1550px;
    margin-right: 10px;
    float: left;
    background-color: #ffffff;
}
.mess-left ul .one
{
    width: 730px;
    height: 210px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
.mess-left ul .one .left{
    margin-top:20px;
    float: left;
    width: 230px;
    height: 180px;
}
.mess-left ul .one .left img{
    width:178px;
    height: 178px;
   margin-left: 50px;
}
.mess-left ul .one .right{
    margin-top:20px;
    float: left;
    display: inline-block;
    width: 480px;
    height: 149px;
}
.mess-left ul .one .right span{
    display: block;
    margin-top:20px;
    margin-left: 30px;
    font-size: 15px;
}

.mess-left ul .one .right i{
    float: left;
    width: 18px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAABdklEQVQokX3TP0hVURwH8M+T27NJGpqikjQkiECIehTkkINEQi4p1G1qb9CC1qaEoCa1lv54Ly65RIRTBS0VhEMtj6hJIoiCCLIMy4Zznl1OT79w4XDP93zP7/f7fk+tKAqbYAv2oo4P+JwS8jwH2QYCR3EJA3iPFXRjGTO4Gf+toyMR6MI93MV97MRhHMNunEYDr9G/kVAvXuAjDmAOP5KL3uAMLmIBx1OhHjzBVVxOyu7D/kTwIUZQlmV5CGpFUXThZRSZTQ5M4xT+4BnOJvuDuIODGSbxoI3IDoxiD37jLfahWeE8xi1cz9CJVf9jRXB1e1xvxfc2vG1YzTARW2uirBC+4IowYLiGpURkDMNoZPiKk7HMn5ivEG9gCjVJbiLGMZLn+bdWIN9hCI8ElyaFAcOv5HAN5/AUjVayqzlq4oiQ6leCvfXKfl1w8DnOx+rXkT6RT7HnE7iA28Jc1oRkL/rn8tpmQi0sxK+OXbGdJe3nBP4CaZdXS3eqef0AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top:50px;
    margin-left: 30px;
}
.mess-left ul .one .right .special
{
    float: left;
    margin-top:45px;
    margin-left: 12px;
}
.mess .mess-right
{
    position: absolute;
    top:0px;
    left:800px;
    width: 390px;
    height:450px;
    background-color: #fff;
}
.mess .mess-right span{
    display: block;
    padding-left:20px;
    font-size: 16px;
    margin-bottom:19px;
}
.mess .mess-right p{
    margin-bottom: 50px;
    font-size: 14px;
    padding-left: 50px;
}
/* 底部模块的制作 */
.w
{
    width: 1200px;
    margin:0 auto;
}
.footer {
    height: 200px;
    background-color: #f5f5f5;
    padding-top: 30px;
    background-color: #000000;
}
.mod_service {
    margin:0 auto;
    height: 80px;
    width: 1200px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 25px;
}
.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -2px;
    margin-right: 8px;
}
.mod_service ul li:nth-of-type(2) h5
{
    background: url(../images/icons.png) no-repeat -255px -54px;
}
.mod_service ul li:nth-of-type(3) h5
{
    background: url(../images/icons.png) no-repeat -258px -107px;
}
.mod_service ul li:nth-of-type(4) h5
{
    background: url(../images/icons.png) no-repeat -256px -208px;
    
}
.service_txt h4 {
    font-size: 14px;
}
.service_txt  p {
    font-size: 12px;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px; 
    margin-bottom: 10px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.copyright {
    line-height: 20px;
}
