.head
{
    font-size: 25px;
    height: 100px;
    margin:auto;
    background-color: pink;
    text-align: center;
    
}
.left
{
    float: left;
    height: 1000px;
    background-color:yellow;
    width: 200px;
   
}
.left>div{
    margin-top:20px;
    font-size: 25px;
    margin-left: 10px;
}
.right {
    float: left;
    background-color: brown;
    color:black;
    height:1000px;
    width: 1200px;

}
.dindan {
    margin-left: 100px;
    width: 100px;
    height: 100px;
    background-color: blue;
}